.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
        padding: 10px;
}

/* Custom Scrollbar Styles */
* {
    scrollbar-width: thin;        /* Thin scrollbar */
    scrollbar-color: #555 #2e2e2e; /* Thumb and track colors */
    border-radius: 6px;
}

/* Webkit-based browsers */
::-webkit-scrollbar {
    width: 12px;               /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #2e2e2e;       /* Track color */
    border-radius: 10px;       /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
    background-color: #555;    /* Thumb color */
    border-radius: 10px;       /* Rounded corners for the thumb */
    border: 2px solid #2e2e2e; /* Padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777;    /* Thumb color on hover */
}

::-webkit-scrollbar-thumb:active {
    background-color: #999;    /* Thumb color on active/press */
}
